<form
	change:form="beanClass agenda_persistentdocument_event">
	<ul change:errors="" />
	<input change:field="name beanId" hidden="true" />
	<p>
		<input change:submit="" name="${submitAction}" label="&modules.generic.frontoffice.buttons.Save;"  class="button" />
		<a tal:condition="edit_from_url" class="button" href="${edit_from_url}" onclick="${cancel_confirm}"><tal:block change:translate="&modules.generic.frontoffice.buttons.Cancel;" /></a>
	</p>
	<div change:tabs="id eventform">
		<div change:tab="name generalities; label &modules.agenda.document.event.Generalities-spaced;">
			<ol>
				<li class="first"><input change:field="name label" /></li>
				<li><input change:field="name date" /></li>
				<li><input change:field="name enddate" /></li>
				<li><input change:field="name summary" /></li>
				<li><input change:field="name category" /></li>
			</ol>
		</div>
		<div change:tab="name content; label &modules.agenda.document.event.Text-spaced;">
			<ol>
				<li><input change:field="name text" /></li>
				<li><input change:documentpicker="name linkedpage" /></li>
			</ol>
		</div>
		<div change:tab="name files; label &modules.agenda.document.event.Visual-spaced;">
			<ol>
				<li><input change:documentpicker="name listvisual" /></li>
				<li><input change:documentpicker="name detailvisual" /></li>
				<li><input change:documentpicker="name accessmap" /></li>
				<li><input change:documentpicker="name attachment" /></li>
			</ol>
		</div>
		<div change:tab="name dateandtime; label &modules.agenda.document.event.Information-date-spaced;">
			<ol>
				<li><input change:field="name datetimeinfo" /></li>
				<li><input change:field="name place" /></li>
			</ol>
		</div>
		<div change:tab="name contact; label &modules.agenda.document.event.Information-contact-spaced;">
			<ol>
				<li><input change:field="name contact" /></li>
				<li><input change:documentpicker="name subscriptionpage" /></li>
			</ol>
		</div>
		<div change:tab="name publication; label &modules.agenda.document.event.Publication-spaced;">
			<ol>
				<li><input change:field="name priority" /></li>
				<li><input change:field="name startpublicationdate" /></li>
				<li><input change:field="name endpublicationdate" /></li>
			</ol>
		</div>
	</div>
	<p>
		<input change:submit="" name="${submitAction}" label="&modules.generic.frontoffice.buttons.Save;"  class="button" />
		<a tal:condition="edit_from_url" class="button" href="${edit_from_url}" onclick="${cancel_confirm}"><tal:block change:translate="&modules.generic.frontoffice.buttons.Cancel;" /></a>
	</p>
</form>