<p tal:condition="container" change:create="" model="agenda/event" parentId="${container/getId}"><tal:block change:translate="&modules.agenda.frontoffice.create-new-in-topic; containerLabel container/getLabel">Créer un événement dans la rubrique ${container/getLabel}</tal:block></p>

<div class="agenda-top-pagination">
	<div change:paginator="paginator"/>
</div>

<div change:include="module 'agenda'; template 'Agenda-Inc-Mininav'; type 'html'; event event; visual visual; isHomepage isHomepage; parentref parentref" />

<ul class="calendars">
	<span tal:repeat="calendar calendars" tal:omit-tag="">
		<span tal:condition="repeat/calendar/start" tal:omit-tag="">
			<span tal:define="global lifirstclass string:first" tal:omit-tag="" />
		</span>
		<span tal:condition="not: repeat/calendar/start" tal:omit-tag="">
			<span tal:define="global lifirstclass " tal:omit-tag="" />
			<span tal:define="global lisecondclass " tal:omit-tag="" />
		</span>
		<span tal:condition="repeat/calendar/end" tal:omit-tag="">
			<span tal:define="global lisecondclass string:last" tal:omit-tag="" />
		</span>
		<li tal:define="liclass string:$lifirstclass $lisecondclass" tal:attributes="class liclass" tal:content="calendar"  />
	</span>
</ul>

<div class="cleaner"/>

<span tal:define="global lifirstclass " tal:omit-tag="" />
<span tal:define="global lisecondclass " tal:omit-tag="" />

<ol class="events" tal:condition="hasEvents">
	<span tal:repeat="event paginator" tal:omit-tag="">	
		<span tal:condition="repeat/event/start" tal:omit-tag="">
			<span tal:define="global lifirstclass string:first" tal:omit-tag="" />
		</span>
		<span tal:condition="not: repeat/event/start" tal:omit-tag="">
			<span tal:define="global lifirstclass " tal:omit-tag="" />
			<span tal:define="global lisecondclass " tal:omit-tag="" />
		</span>
		<span tal:condition="repeat/event/end" tal:omit-tag="">
			<span tal:define="global lisecondclass string:last" tal:omit-tag="" />
		</span>
		<li tal:define="liclass string:$lifirstclass $lisecondclass" tal:attributes="class liclass">
			<div tal:define="displayLeft alternator/position" change:include="module 'agenda'; template 'Agenda-Inc-Listitem'; type 'html'; event event; visual visual; displayLeft displayLeft; parentref parentref; shortdates shortdates; extendedDateFormat extendedDateFormat;" />
		</li>
	</span>
</ol>
<p tal:condition="not: hasEvents" i18n:translate="&amp;modules.agenda.frontoffice.NoEvents;"/>

<div class="agenda-bottom-pagination">
	<div change:paginator="paginator"/>
</div>